body{
	display: flex;
	background-color: palegreen;
	justify-content: center;
}

.tikiPiece{
	height: 50px;
	border: solid black 2px;
}

.actionCard{
	width: 100px;
	border: solid black 1px;
	height: 50px;
}

.active {
	background-color: yellow;
}
